<%= form_with model: [ @location, @position ] do |f| %>
  <%= render "devise/shared/error_messages", resource: @position %>

  <div class="mb-3">
    <%= f.label :name, "Position name", class: "form-label" %>
    <%= f.text_field :name, autofocus: true, class: "form-control" %>
  </div>

  <% if @position.persisted? %>
    <div class="form-check mb-4">
      <%= f.check_box :active, class: "form-check-input" %>
      <%= f.label :active, "Active", class: "form-check-label" %>
    </div>
  <% end %>

  <div class="d-flex justify-content-between align-items-center gap-2">
    <%= link_to "Back", location_positions_path(@location), class: "btn btn-outline-secondary" %>
    <%= f.submit @position.persisted? ? "Save Position" : "Add Position", class: "btn btn-primary" %>
  </div>
<% end %>
